---

import { Button } from "@/components/ui/button";
import Layout from "@/layouts/Layout.astro";

---

<Layout>
	<h1 class="scroll-m-20 text-center text-4xl font-extrabold tracking-tight text-balance">Hello Wrold!</h1>
  <Button><a href="/contact">Contact Us!</a></Button>
</Layout>
