---
import { UserForm } from "@/components/react/userForm";
import Layout from "@/layouts/Layout.astro";

---

<Layout>
	<h1 class="scroll-m-20 text-center text-4xl font-extrabold tracking-tight text-balance">User Form!</h1>
  <UserForm client:load />
</Layout>
